# Firebase Configuration
FIREBASE_PROJECT_ID=employee-system-d8369
FIREBASE_DATABASE_URL=https://employee-system-d8369-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT_KEY=./employee-system.json

# Server Configuration
PORT=3000
NODE_ENV=development

# Security
JWT_SECRET=your-jwt-secret-key

# Admin Configuration
ADMIN_EMAIL=admin@company.com
